@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

h1,
h2,
h3 {
  font-family: "Cormorant", serif;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: lighter;
}

/* highlight booked events */
.fc-event {
  background-color: #22392c !important;
  border: none !important;
  color: white !important;
  font-weight: bold;
  border-radius: 8px;
  padding: 2px 6px;
}

/* background events (like unavailable dates) */
.fc-bg-event {
  background-color: red !important;
  opacity: 0.4 !important;
  border-radius: 6px;
}

/* change the day cell hover */
.fc-daygrid-day:hover {
  background-color: #f8f5f3 !important;
  cursor: pointer;
}
